<h1> New Blog Post</h1>

<%= form_for(@post, :html => { :multipart => true} ) do |form| %>
        <%= form.label "Post title" %>
        <%= form.text_field :title %>
    </br>    
    </br>
        <%= form.label "And now your blog post" %>
        </br>
        </br>
        <%= form.text_area :body, size: "50x25" %>
        </br>
        <%= form.submit "Submit Post" %>
        
<% end %>