<center><h1 style="font-family: helvetica"> New Blog Post</h1></center>

<div class="newPost">
<%= form_for(@post, :html => { :multipart => true} ) do |form| %> 
        <%= form.label "Title" %>
        <%= form.text_field :title %>
    </br>    
    </br>
        <%= form.label "Please write your post here" %>
        </br>
        </br>
        <%= form.text_area :body, size: "50x25" %>
        </br>
        <%= form.submit "Submit Post" %>
       
<% end %>
</div>

